.jw-slider-time .jw-buffer,
.jw-slider-time .jw-rail,
.jw-horizontal-volume-container .jw-rail {
    background-color: rgba(158, 175, 203, 0.25) !important;
}

.jw-icon-display .jw-svg-icon-play {
    border-radius: 50%;
    -webkit-transition: .5s;
    transition: .5s;
}

.jw-icon-display:hover .jw-svg-icon-play {
    -webkit-box-shadow: 0 4px 18px rgba(0, 208, 162, 0.25) !important;
    box-shadow: 0 4px 18px rgba(0, 208, 162, 0.25) !important;
}

.jw-controlbar {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.55) 100%) !important
}

.jw-button-color.jw-toggle:not(.jw-icon-cast),
.jw-button-color:hover:not(.jw-icon-cast),
.jw-button-color:focus:not(.jw-icon-cast),
.jw-button-color.jw-toggle.jw-off:hover:not(.jw-icon-cast) {
    color: #6bcfa4 !important
}

.jw-option.jw-active-option,
.jw-option:not(.jw-active-option):hover,
.jw-option:not(.jw-active-option):focus,
.jw-settings-content-item:hover,
.jw-nextup-tooltip:hover,
.jw-nextup-tooltip:focus,
.jw-nextup-close:hover {
    color: #fff !important
}

.jw-settings-menu .jw-settings-item-active {
    color: #6bcfa4 !important
}

.jw-settings-menu {
    border-radius: 4px !important;
    overflow: hidden !important;
    background-color: rgba(24, 32, 46, .75) !important;
    -webkit-backdrop-filter: blur(3px) !important;
    backdrop-filter: blur(3px) !important
}

.jw-settings-topbar {
    background-color: rgba(0, 0, 0, .25) !important
}

.jw-settings-menu .jw-icon::after,
.jw-icon-settings::after,
.jw-icon-volume::after,
.jw-settings-menu .jw-icon.jw-button-color::after {
    display: none !important
}

.jw-controlbar .jw-button-container {
    padding: 0 !important;
}

.jw-breakpoint-7 .jw-controlbar .jw-button-container {
    padding: 6px 20px !important
}

.jw-icon {
    outline: none !important
}

.jw-slider-time {
    height: 19px !important;
}

.jw-logo-button,
.jw-text-countdown {
    display: none !important;
    visibility: hidden !important
}

.jw-submenu-topbar {
    -webkit-box-shadow: none !important;
    box-shadow: none !important
}

.jw-submenu-topbar .jw-settings-content-item {
    background-color: #293343 !important
}

.jw-controlbar .jw-button-color {
    color: #eee !important
}

.jw-display-controls .jw-svg-icon-buffer {
    width: 64px !important;
    height: 64px !important;
    color: #00d0a2 !important
}

.jw-controlbar .jw-tooltip,
.jw-time-tip::after,
.jw-controlbar .jw-tooltip::after,
.jw-settings-menu .jw-tooltip::after {
    background-color: #18202e !important
}

.jw-time-tip .jw-text,
.jw-controlbar .jw-tooltip .jw-text,
.jw-settings-menu .jw-tooltip .jw-text {
    background-color: #18202e !important;
    border-radius: 0 !important;
    color: #eee !important
}